.primary-header {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.columns-layout {
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 2rem
}

.desserts-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(230px, 1fr)
  );
  gap: 1.6rem
}

@media (width <= 768px) {
  .columns-layout {
    grid-template-columns: 1fr;
  }
}